<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--
    Set this flag to "true",  when you want the TVControls to encode the contents that will be rendered on Client, using Microsoft.Security.Application.Encoder.XmlEncode.
    Set this flag to "false", when you don't want the TVControls to encode the contents that will be rendered on Client. You will have to encode the contents in the app to mitigate XSS attacks.
    -->
    <add key="EnableTextEncoding" value="true"/>
    <!--
    Set this flag to "true" when you want TVControls to fix targets across MasterPage and UserControl.
    EnableIdMangling will generate Unique id for all the controls inside a page.
    -->
    <add key="EnableIDMangling" value="true"/>
    <!--If set to "false", even if control's "AutoPostback" is set to true, 
        the postback handling code will not be generated.
        If set to "true", the postback handling code will be generated if at least 
        one control's "AutoPostback" property is set to true.
    -->
    <add key="EnablePostback" value="true"/>
    <!--By default framework always does the control rearrangment i.e. it's value is set to false. 
        If set to true, the framework will stop doing rearrangment and developer can use the code blocks
    -->
    <add key="DisableControlRearrangement" value="false"/>
    <!--
    OptimizedMrmlWriter is used to eliminate whitespaces from mark up generated, 
    If we do not want whitespace to be retained in text areas we can make this key false.
    By default this is set to false.
    -->
    <add key="UsingOptimizedWriter" value="false"/>
    <!--This key is used to enable encoding of markup generated to reduce load on page.
        By Default it is set to false.
    -->
    <add key="EnableEncoding" value="false"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>